html {
    font-family: Arial, sans-serif;
    background-color: #FAFAFA;
    padding-right: 1%;
}
h1 {
    text-align: center;
}
h3 {
    padding-left: 1%;
}
h4 {
    text-align: center;
}
p {
    padding-left: 3%;
    text-align: justify;
}
img {
    float: left;
    width: 50%;
    padding-right: 2%;
    padding-bottom: 4px;
}
ul {
    padding-left: 4%;
}
li {
    text-align: justify;
}
#icon {
    float: left;
    width: 96px;
    padding-right: 1%;
}
.red {
    color: #FF0004;
}
.green {
    color: #2BC32B;
}
